.footer {
  * {
    border: 0.3px solid #fff0ba;
  }
  .footer_top {
    display: flex;
    justify-content: space-between;
  }
  .footer_top {
    font-size: 10px;
  }
  .list {
    display: inline-block;
    font-size: 10px;
  }
}
